/* For global css rules. If the rule is on a generic tag, like 'a', 'h1', etc.,
it probably belongs here. */

* {
  transition: all ease 0.2s;
  box-sizing: border-box;
  /* outline: 1px dashed gray; */
}

body {
    /* background-image: url("../images/wooden-background-bw.jpg"); */
    background-size: cover;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, rgb(55, 50, 70) 0%, rgb(20,20,30) 100%);
    background-color: seashell;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
    /* background-image: url("https://www.freevector.com/uploads/vector/preview/1469/FreeVector-Splash-Swoosh-Background-Image.jpg") */
}

#root {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 120px;
}

table {
  margin: 0;
  padding: 1rem;
  text-align: center;
  border-spacing: 0.2rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

button:hover {
  color: cornflowerblue;
  color: black;
  /* background-color:white; */
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
ul > li {
  margin-left: 0;
}
