/* For aesthetic-only css rules, which do not effect the layout or state and are
not global. If changing the rule would effect functionality in any way, it
does not belong here. Valid examples are changing a sidebar's background color
and font or adding drop shadows to certain modules.

Naming convention: start with `th-`. EXAMPLE: th-bg-primary */

.cam {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

.th-dark-gr {
  background: linear-gradient(-45deg, rgba(0,0,0,1), rgba(25,25,25,1));
}

.th-shadow {
  box-shadow: 15px 15px 5px rgba(0,0,0,0.2);
}

.th-card-shadow {
  position: relative;
}
.th-card-shadow:before, .th-card-shadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 80%;
  bottom: 1rem;
  left: 2rem;
  width: 50%;
  background: black;

  -webkit-box-shadow: 0 2rem 2rem black;
  -moz-box-shadow: 0 2rem 2rem black;
  box-shadow: 0 2rem 2rem black;

  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-5deg);
}
.th-card-shadow:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(5deg);
  right: 2rem;
  left: auto;
}

.th-thin-under {
  border-bottom: 1px solid;
}