/* For aesthetic-only css rules, which do not effect the layout or state and are
not global. If changing the rule would effect functionality in any way, it
does not belong here. Valid examples are changing a sidebar's background color
and font or adding drop shadows to certain modules.

Naming convention: start with `th-`. EXAMPLE: th-bg-primary */

.pbc-hdr.th-dark-mode, 
.ico-btn > .th-dark-mode,
.point-title.th-dark-mode {
  color: rgba(255,255,255,0.8);
}

.pbc-body.th-dark-mode {
  background-color: rgba(255,255,255,0.2);
}
.pbc-bg-ico.th-dark-mode {
  color: black;
}

.th-big-btn {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  border: none;
  /* text-transform: uppercase; */
  font-weight: bold;
}

.th-stripe-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: repeating-linear-gradient(
  45deg,
  rgba(0,0,0,0),
  rgba(0,0,0,0) 10px,
  rgba(255,255,255,0.05) 10px,
  rgba(255,255,255,0.05) 20px
  );
}

.th-inner-border {
  position: relative;
  border: 6px double rgba(0,0,0,0.5);
  padding: 0.5rem 1rem 1rem;
}

.th-dl-oneline > dt {
  display: inline;
}

.th-txt-shadow {
  text-shadow: 2px 2px 2px black;
}

.msg-none {
  font: italic 1.2rem Cambria, Georgia, serif;
  color: white;
  text-align: center;
}

.th-cap-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.th-clean-name {
  font-variant: small-caps;
  letter-spacing: 0.1rem;
  font-family: Roboto, Calibri, sans-serif;
}

.th-fancy-name {
  font-variant: small-caps;
  letter-spacing: 0.1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.th-border-thin {
  border: 1px solid;
}

.th-border {
  width: 100%;
  height: 100%;
  border: 2px rgba(100,80,60,0.8) solid;
  padding: 0.5rem;
  
}

.th-border-gr {
  border-image-slice: 1;
}


.th-hr-gr-fade-left {
  width: 100%;
  height: 3px;
  background: linear-gradient(to right,rgba(255,255,255,0), #b9b18e 50%, #865 80% );
}
.th-hr-gr-fade-right {
  width: 100%;
  height: 2px;
  background: linear-gradient(to left,rgba(255,255,255,0), #b9b18e 50%, #865 80% );
}



.th-border-metal {
  border-image-source: linear-gradient(0deg,#865  20%,  #b9b18e 40%, #b9b18e 60%,  #865 80%);
}

.th-metal-light {
  background: linear-gradient(#b9b18e 75%, #865 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-border-fill-color: transparent;
  /* color: #543; */
}

.th-metal {
  background: linear-gradient(#b9b18e 50%, #865 60%, #b9b18e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-border-fill-color: transparent;
  /* color: #543; */
}


.th-metal-shade {
  position: relative;
  margin: -21px 0 0;
  padding: 0;
  display: block;
  background: #111;
  width: 100%;
  height: 1rem;
  opacity: 0.3;
}

.th-quote:before, .th-quote:after {
  font-style: normal;
  font-size: 1rem;
}
.th-quote:before {
  content: '❝ ';
}
.th-quote:after {
  content: ' ❞';
}

.th-dark-gr {
  background: linear-gradient(-45deg, rgba(0,0,0,1), rgba(50,50,50,1));
}

.th-shadow {
  box-shadow: 15px 15px 5px rgba(0,0,0,0.2);
}

.th-card-shadow {
  position: relative;
}
.th-card-shadow:before, .th-card-shadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  top: 80%;
  bottom: 1rem;
  left: 2rem;
  width: 45%;
  background: rgba(0,0,0,0);

  -webkit-box-shadow: 0 2rem 2rem black;
  -moz-box-shadow: 0 2rem 2rem black;
  box-shadow: 0 2rem 2rem black;

  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-5deg);
}
.th-card-shadow:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(5deg);
  right: 2rem;
  left: auto;
}

.th-thin-under {
  border-bottom: 1px solid;
}