

.AboutHeader {
  margin: -6rem auto 0;
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding: 15px;
}


.AboutContainer{

  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  width: 800px;
  height: 380px;
}
.AboutCardContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
  padding: 0.5rem;
  margin: 15px;
  justify-content: space-between;
  width: 350px;
  height: max-content;
}

.AboutCardDetailsContainer {
  display: flex;
  flex-direction: column;
}

.AboutCardImageContainer img{
  height: 5rem;
}

.about-img-border {
  float: right;
  position: relative;
  height: 5rem;
  width: 5rem;
  margin: 0.5rem;
  padding: 0;
  border-width: 3px;
  background-clip: padding-box;
  border: 3px solid transparent;
  border-radius: 50%;
  opacity: 0.99;
}


.about-img-border:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: linear-gradient(to bottom, #b9b18e 40%, #865 80%);
}

.AboutCardContainer h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  padding: 0px;
}
.AboutCardContainer p {
  margin: 0px;
  padding: 0px;
}

.about-img {
  border-radius: 50px;
}

.about-card_a {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}
.about-card_icon {
  color: lavender;
}
.about-card_icon:hover {
  /* color: lightseagreen; */
  transform: scale(1.2);
}

.grey-icon {
  color: grey;
}

.about-attrib {
  position: absolute;
  bottom: 120px;
  width: 100%;
  /* margin: 3rem 0; */
  padding: 0.5rem 1rem;
  background: linear-gradient(45deg, #888, #ddd);
  color: #222;
  font-size: 0.8rem;
  text-align: center;
}
.about-attrib > h2 {
  margin: 0;
}

.about-attrib a {
  color: #333;
}

.about-attrib a:hover {
  color: #888;
}
.about-attrib h2 {
  border-bottom: 1px solid;
}
