.privatePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: lavenderblush;
}

.activityHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lineGraphLabels {
  /* font-family: Arial, Helvetica, sans-serif; */
}

.lineGraphContainer {
  /* padding: 15px; */
  /* margin: 30px; */
}
.lineGraphHeader {
  position: relative;
  text-align: center;
  font-size: 22px;
}
/* .lineGraphToggle {
  position: relative;
  left: 640px;
  outline: 1px solid #ccc;
} */
.displayPage {
  position: relative;
  height: 100%;
  /* left:100px; */
}
.displayFormat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* z-index: -1; */

}
.activityFormat {
  /* display: flex;
  flex-direction: column;
  align-content: flex-end; */
}

.activityDetailContainer {
  position: relative;
  margin: 20px;
  width:100%;
  padding-left: 25px;
}
.activityDetail__title {
  font-size: 30px;
  position: relative;
  left: 40px;
  margin: 20px;
}
.activityDetail__items {
  margin: 10px;
}
.activityDetail__name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.activityDetail__description {
  position: relative;

}
.activityDetail__table {
  /* margin: 20px; */
  table-layout: fixed;
  width: 600px;
}
.activityDetail-border {
    /* border: 1px solid; */
padding: 0.2rem;
  }
.activityDetail__cell {
/* border: 1px solid; */
  width: 25%;
}
#toggle-select {
background-color: black;
position: relative;
color: white;
/* left: 630px; */
}

.toggleInterval {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  padding-top: 20px;
}
.heatMapContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  /* position: relative; */
  align-self: center;
  /* padding-bottom: 40px;
  left: 60px; */
  /* width:400px; */
  padding-left: 1rem;
}
.heatMapHeader {
  position: relative;
  margin: 12px;
  /* left: 90px; */
  /* font-size: 22px; */
}
/* .calendarContainer {
  width: 650px;
  height: 400px;
}
 */

.statContainer {
  position: relative;
  width: 650px;
  /* left: 120px; */
  /* margin: 25px; */
}
/* .statGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
.statOverview {
  position: relative;
  text-align: center;
  /* right: 50px; */
  /* font-size: 22px; */
  /* padding-bottom: 10px; */
  /* display: flex;
  justify-content: center; */
}
