/* week row */
.day-con {
  position: relative;
  flex: none;
  width: 2rem;
}
.day {
  
  z-index: 1;
  opacity: 0.8;
  text-transform: uppercase;
  font: 0.7rem Calibri;
  width: 2rem;
  text-align: center;
  flex: none;
  
}

.day-box {
  margin-bottom: 1rem;
  /* font-size: 0.8rem; */
  /* font-weight: bold; */
  font-family: monospace;
  flex: none;
}
.day-num {
  font-size: 0.5rem;
}