/* activity display page */
.hdp-con {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  text-shadow: 2px 2px 3px black;
}

.hdp-date, .hdp-freq {
  font-family: monospace;
}
.hdp-table {
  position: absolute;
  top: 0;
  right: 3rem;
  color: white;
  width: max-content;
  padding-right: 1.5rem;
}
.hdp-table:hover {
  z-index: 12;
  background: rgba(0,0,0,0.7);
}

.hdp-thead {
  color: black;
  background: white;
  font: 0.8rem Cambria, "Merienda One", Courgette, serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.hdp-title {
  font: 0.8rem "Merienda One", Courgette, Cambria serif;
}
.hdp-desc {
  font: italic 0.8rem Calibri;
}

.hdp-subtitle {
  color: white;
  text-transform: uppercase;
  font: bold 1.5rem monospace, Calibri;
  letter-spacing: 0.2rem;
  margin: 0;
}

.hdp-stats {
  text-transform: uppercase;
}
.hdp-stats-label {
  text-transform: uppercase;
  font: bold 1rem Calibri;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid;
}
.hdp-stats-content {
  text-align: left;
  border: 1px dotted;
}

.hdp-toggle {
  color: white;
  text-transform: uppercase;
  width: max-content;
  margin-right: 15rem;
  
}

.hdp-graph {
  overflow: visible;
}
.hdp-graph-select {
  color: white;
  text-transform: uppercase;
  margin: 0.5rem 0;
  padding: 0.2rem 0.5rem;
  border-left: none;
  border-right: none;
  width: max-content;
  margin-left: 4rem;
}
.hdp-graph-label {
  text-transform: uppercase;
  margin: 1rem;
  overflow: visible;
}

.hdp-cal {
  font: 1.5rem Cambri serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-left: 3rem;
}

dd {
  display: inline-block;
  font-size: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  margin: 0;
}