/* ID Card */

.idc {
  position: relative;
  display: flex;
  margin: 1rem;
  /* border-radius: 1rem; */
  flex-direction: column;
  padding: 0.5rem ;
  width: 30rem;
  box-shadow: 0 0.5rem 15px rgba(0,0,0,0.5);
}

.idc-data {
  width: 100%;
  float: right;
  text-align: right;
  margin: 0;
}

.idc-label {
  /* display: inline; */
  font-size: 0.5rem;
  margin: 0;
}

.idc-name {
  font: 2rem Roboto;
  letter-spacing: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 3px solid;
  font-variant: small-caps;
}

.th-border {
  width: 100%;
  height: 95%;
  border: 1px rgba(100,80,60,0.8) solid;
  padding: 0.5rem;
}

.th-metal {
  font-size: 72px;
  background: -webkit-linear-gradient(#b9b18e 60%, #543 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-border-fill-color: transparent;
  /* color: #543; */
}

.th-metal-shade {
  position: relative;
  margin: -21px 0 0;
  padding: 0;
  display: block;
  background: #111;
  width: 100%;
  height: 1rem;
  opacity: 0.3;
}



.idc-last {
  font-weight: bold;
}

dd {
  display: inline-block;
  font-size: 1rem;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-style: italic;
  margin: 0;
}

.avi {
  font-size: 2rem;
  margin-right: 0.5rem;
  /* float: right; */
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(30,20,0,0.9);
}

.idc-line {
  /* display: flex; */
}