/* program board card - habit row */

.hbt-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgba(0,0,0,0.7);
  border-radius: 0.5rem;
  padding: 0.5rem;
  height: max-content;
  width: 100%;
}

div.hbt-btn:hover, div.hbt-btn:active, div.hbt-btn:focus {
  border-radius: 1rem;
  color: rgb(0,0,0);
  /* padding: 0.7rem; */
}

.habit-row {
  position:relative;
  max-height: 10px;
  overflow: hidden;
  
}
.habit-header {
  width: 100%;
}

.habit-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 12rem;
  overflow: hidden;
}

.habit-ico {
  width: 1.2rem;
}

.habit-title {
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-variant: small-caps;
  font-size: 0.8rem;
}
.habit-freq {
  top: -0.2rem;
  left: 1.5rem;
  position: absolute;
  font: 0.4rem Roboto;
  color: rgba(255,255,255,0.5);
  text-transform: lowercase;
  letter-spacing: 0.1rem;
}

.habit-link:hover {
  background-color: rgba(0,0,0,0.2);
}

.lo-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.habit-btn {
  position: relative;
  margin: 0;
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  height: 2.5rem;
  white-space: nowrap;
  width: 100%;
}

.habit-btn:hover {
  background: rgba(0,0,0,0.2);
}