
/* Program Board Card */



.pbc {
  /* background-image: url("./Paper-02.png"); */
  position: relative;
  color: rgba(20,10,0,0.8);
  border-radius: 1rem;
  box-shadow: 0 0rem 2rem rgba(0,0,0,0.5);
  border-width: 10px;
  /* margin: 1rem 0; */
  overflow: hidden;
  min-width: min-content;
  /* transform: scale(0.5) */
}
.test {width: 100%}
/* body screen */
.pbc-body {
  position: relative;
  color: whitesmoke;
  background-color: rgba(0,0,0,0.5);
}

/* background icon image */
.pbc-bg-ico {
  position: absolute;
  bottom: 0;
  left: 1rem;
  transform: rotate(20deg);
  color: rgba(20,10,0, 0.1);
  overflow: hidden;
}



/* program heading */
.pbc-title-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.pbc-title {
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font: 1rem Cambria;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* description */
.pbc-desc {
  margin: 0;
  font: italic 0.8rem Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  
}
.pbc-desc:before, .pbc-desc:after {
  content: '"';
}

/* action buttons  */
.pbc-btns {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.2s linear;
  position: absolute;
  display: flex;
  top: 0.5rem;
  left: 0.5rem;
}
.pbc-btns > * {
  margin: 0 0.5rem 0 0;
}

/* only show activity btns when hovering on card */
.pbc:hover .pbc-btns, .pbc:focus .pbc-btns {
  visibility: visible;
  opacity: 1;
}
