
/* Program Board Card */

.pbc-con {
  width: 100%;
  margin: 0 auto;
}

.programBoards-container {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.program-cards {
  margin: 0 auto;
}

@media all and (max-width: 25rem) {
  .programBoards-container { 
    transform: scale(0.8); 
    margin: -10rem 0rem -10rem -2rem;
  }
}

@media all and (min-width: 25rem) and (max-width: 51rem) {
  .programBoards-container { max-width: 30rem; }
}
@media all and (min-width: 51rem) and (max-width: 76rem) {
  .programBoards-container { max-width: 61rem }
}
@media all and (min-width: 76rem) and (max-width: 102rem) {
  .programBoards-container { max-width: 92rem }
}
@media all and (min-width: 102rem) and (max-width: 122rem) {
  .programBoards-container { max-width: 122rem }
}
@media all and (min-width: 122rem) {
  .programBoards-container { max-width: 152rem }
}


.pbc {
  position: relative;
  color: rgba(20,10,0,0.8);
  border-radius: 1rem;
  /* box-shadow: 0 0rem 2rem rgba(0,0,0,0.5); */
  border-width: 10px;
  overflow: hidden;
  min-width: 25rem;
  width: 100%;
  max-width: 30rem;
  /* transform: scale(0.5) */
  margin-bottom: 0.5rem;
}
/* body screen */
.pbc-body {
  position: relative;
  color: whitesmoke;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  min-height: 7rem;
}

/* background icon image */
.pbc-bg-ico {
  position: absolute;
  bottom: 0;
  left: 1rem;
  transform: rotate(20deg);
  color: rgba(0,0,0, 0.1);
  overflow: hidden;
}



/* program heading */
.pbc-title-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.pbc-title {
  max-width: 50%;
  /* overflow: hidden; */
  text-overflow: hidden;
  /* white-space: nowrap; */
  text-align: center;
  margin: 0;
  font: 1rem Cambria;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* description */
.pbc-desc {
  margin: 0;
  font: italic 0.8rem Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  z-index: 1;
}

/* action buttons  */
.pbc-btns {
  position: absolute;
  display: flex;
  top: 0.5rem;
  left: 0.5rem;
}

.pbc-btns, .pbc .mini-ico-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.2s linear;
}

.pbc-btns > * {
  margin: 0 0.5rem 0 0;
}

/* only show activity btns when hovering on card */
.pbc:hover .pbc-btns, 
.pbc:focus .pbc-btns,
.activity:hover .mini-ico-btn,
.activity:focus .mini-ico-btn
 {
  visibility: visible;
  opacity: 1;
  border:rgba(20,10,0, 0.1)
}
