
/* Program Board Card */

.pbc {
  position: relative;
  color: rgba(20,10,0,0.8);
  border-radius: 1rem;
  /* box-shadow: 0 0rem 2rem rgba(0,0,0,0.5); */
  border-width: 10px;
  overflow: hidden;
  min-width: 25rem;
  width: 100%;
  /* transform: scale(0.5) */
  margin-bottom: 0.5rem;
}
/* body screen */
.pbc-body {
  position: relative;
  color: whitesmoke;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  min-height: 7rem;
}

/* background icon image */
.pbc-bg-ico {
  position: absolute;
  bottom: 0;
  left: 1rem;
  transform: rotate(20deg);
  color: rgba(0,0,0, 0.1);
  overflow: hidden;
}



/* program heading */
.pbc-title-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
}

.pbc-title {
  max-width: 50%;
  /* overflow: hidden; */
  text-overflow: hidden;
  /* white-space: nowrap; */
  text-align: center;
  margin: 0;
  font: 1rem Cambria;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* description */
.pbc-desc {
  margin: 0;
  font: italic 0.8rem Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  z-index: 1;
}
.pbc-desc:before, .pbc-desc:after {
  content: '"';
}

/* action buttons  */
.pbc-btns {
  position: absolute;
  display: flex;
  top: 0.5rem;
  left: 0.5rem;
}

.pbc-btns, .pbc .mini-ico-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.2s linear;
}

.pbc-btns > * {
  margin: 0 0.5rem 0 0;
}

/* only show activity btns when hovering on card */
.pbc:hover .pbc-btns, 
.pbc:focus .pbc-btns,
.habit:hover .mini-ico-btn,
.habit:focus .mini-ico-btn
 {
  visibility: visible;
  opacity: 1;
  border:rgba(20,10,0, 0.1)
}

.habit-btn-con {
  /* display: flex; */
  overflow: hidden;
  flex: auto;
  min-width: 0;
}
