.splashPageBackground {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-image: url("../../images/bgs/persistamp-splash.jpg");
  background-image: url("../../images/bgs/wooden-background.jpg");
  background-image: url("../../images/bgs/wooden-background.jpg");
  background-image: url("../../images/bgs/03.jpg");
  background-image: url("../../images/bgs/6.jpg");
  background-image: url("../../images/bgs/painted_metal.jpg"); */
  /* background-image: url("../../images/bgs/Wood-Walnut.jpg"); */
  /* background-image: url("../../images/bgs/Wood1.jpg"); */
  /* background-image: url("../../images/bgs/Wood2.jpg"); */
    /* background-size: cover; */
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0));

    /* background-image: url("../../images/bgs/Texture2.png"); */
    /* background-image: url("../../images/bgs/seamless04.png"); */
    /* background-size: repeat; */
}

.splashcontainer {
  margin: 0 auto;
  position: relative;
  width: 100%;
  top: 0;
  /* align-content: center; */
  /* justify-content: space-evenly; */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 8rem 1fr 1fr 1fr;
  padding: 0 5rem 2rem 5rem;
}

.splashforms {
  float: right;
  width: 12rem;
  margin: 0.5rem;
  /* display: grid;
  grid-column: 4 / 5;
  grid-row: 1; */
  /* background-color: grey; */
}



.splashButtons {
  z-index: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 11rem;
}


.instruction-screenshot {
  /* object-fit: cover;
  width: 100%; */
  max-height: 100%;
  object-fit: cover;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  /* border: 1px solid white; */
}
.instructionscontainer {
  /* border: 4px solid red; */
  grid-column: 1 / 4;
  grid-row: 1 / 5;
}
/*
.demoButton-container {
  position: relative;
  display: grid;
  grid-column: 2 / 4;
  grid-row: 1;
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: flex-end;
} */

.instructionText {
  font-size: 1.5em;
  font-family:  Courgette, "Patrick Hand SC", "Comic Neue", serif, Meddon;
  text-align: center;
  padding: 0;
}

.instructionContent {
  border-radius: 15px;
}

.hbd-title {

}
.persistamp {
  font-size: 5rem;
  color: white;
  font-family: "Berkshire Swash", "Merienda One", Courgette, Meddon;
  text-shadow: 3px 3px 2px rgba(0,0,0,0.8);
  font-weight: normal;
  /* text-align: right; */
  margin: 0;
}

.persistamp-subtitle {
  color: white;
  text-shadow: 3px 3px 2px rgba(0,0,0,0.8);
  font-size: 2rem; 
  font-family: "Berkshire Swash", "Merienda One", Courgette, Meddon;
  font-weight: normal;
  text-align: right;
  margin: 0;
}

/* header */
.splashTitle {
  grid-column: 2 / 4;
  grid-row: 1;
  margin: 0 auto;
  padding: 10px;
}
.splashHeader {
  position: relative;
}

.demoButton {
  z-index: 1;
  position: absolute;
  top: 0rem;
  left: -6rem;
  height: 110px;
  transform: rotate(25deg);
  cursor: pointer;
}
.demoButton:hover {
  cursor: pointer;
  transform: scale(1.2);
}



/* instructions and screenshots */
.spl-instruct {
  position: relative;
  border-radius: 15px;
  background-color: whitesmoke;
  overflow: hidden;
}

.instruction-1-text {
  grid-column: 2 / 3;
  grid-row: 2;
}
.instruction-1-image {
  grid-column: 1 / 2;
  grid-row: 2;
}

.instruction-2-text {
  grid-column: 1 / 2;
  grid-row: 3;
}
.instruction-2-image {
  grid-column: 2 / 3;
  grid-row: 3;
}

.instruction-3-text {
  grid-column: 2 / 3;
  grid-row: 4;
}
.instruction-3-image {
  grid-column: 3 / 5;
  grid-row: 2 / -1;
  padding: 0;
  height: 100%;
}
.instruction-1-image > img,
.instruction-2-image > img,
.instruction-3-image > img,
.instruction-4-image > img {
  height: 100%;
  object-fit: contain;
}
.instruction-1-image > img,
.instruction-2-image > img,
.instruction-4-image > img {
  border-radius: 15px;
  min-height: 10rem;
}

instruction-3-image > img {
  border-radius: 0;
  border: 1px black solid;
}

.instruction-4-image {
  grid-column: 1 / 2;
  grid-row: 4;
}


/* numbers */
.numberIcons {
  height: 60px;
  padding-left: 5px;
  padding-top: 5px;
  color: black;
}

.splash-num {
  position: absolute;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  color: white;
  font: 2rem Courgette, Meddon;
  top: 0.5rem;
}

.num-1{
  background-color: darkgoldenrod;
  left: 0.5rem;
}
.num-2 {
  background-color: cadetblue;
  right: 0.5rem;
  top: 0.5rem;
}
.num-3 {
  background-color: cornflowerblue;
  left: 0.5rem;
}
