/* For global css rules. If the rule is on a generic tag, like 'a', 'h1', etc.,
it probably belongs here. */

body {
    background-color:rgb(20, 30, 50);
    color: seashell;
}
table, tr, th, td {
  border-radius: 0.3rem;
  border: 1px solid rgb(100,100,100,0.5);
  padding: 0.2rem;
  text-align: center;
}




/* a. Fix item editing - infinity bugs */
/* b. Feedback for wrong form inputs/disable redeem button if unallowed */
/* c. Wireframes, logo, favicon */
/* d. heroku launch */

/* 1. Layouts - grid, flex, display, position, margin/padding, borders */
/* 2. Theming - colors, fonts, logo/favicon/stamp-texture-effects */
/* 3. States, hovers, transitions, effects, pop */