/* For global css rules. If the rule is on a generic tag, like 'a', 'h1', etc.,
it probably belongs here. */

body {
    background-color:rgb(20, 30, 50);
    color: seashell;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif
    /* background-image: url("https://www.freevector.com/uploads/vector/preview/1469/FreeVector-Splash-Swoosh-Background-Image.jpg") */
}
table, tr, th, td {
  /* border-radius: 0.3rem; */
  margin: 1rem;
  /* border: 1px solid rgb(100,100,100,0.5); */
  padding: 0.2rem;
  text-align: center;
  border-spacing: 0.5rem;
}

td, th {
  width: 0.5rem;
  height: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: white;
}

button:hover {
  color: cornflowerblue;
  color: black;
  /* background-color:white; */
}

.overlay{
  opacity:0.8;
  background-color:#ccc;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}
.splashPageBackground {
  height: 100%;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.pixelstalk.net%2Fwp-content%2Fuploads%2F2016%2F07%2FArtsy-HD-Wallpaper-1.jpg&f=1&nofb=1")
}

.active {
  color: white;
  transform: rotate(20deg);
}

ul {
  list-style-type: none;
  list-style-position: inside;
}
ul > li {
  margin-left: 0;
}

/* a. Fix item editing - infinity bugs */
/* b. Feedback for wrong form inputs/disable redeem button if unallowed */
/* c. Wireframes, logo, favicon */
/* d. heroku launch */

/* 1. Layouts - grid, flex, display, position, margin/padding, borders */
/* 2. Theming - colors, fonts, logo/favicon/stamp-texture-effects */
/* 3. States, hovers, transitions, effects, pop */
