/* For layout-effecting css rules. If it effects the placement and physical
layout of elements on the page, it probably belongs here. Think flexboxes and
grids, floats, margins and padding, positioning, display types.

Naming convention: 'lo-'. EXAMPLE: 'lo-left-sidebar'*/

.NavBarContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.NavBarArea {
    background-color: lavender;
    width: 100%;
    height: 60px;
}

body {
    margin: 0px;
}
